In [17]:
import os
from dotenv import load_dotenv

load_dotenv()
DATABASE_URL = os.getenv("DATABASE_URL")

DATABASE_URL

'postgresql://neondb_owner:npg_9Yp0VELUjmfG@ep-floral-brook-a5fktqor-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require'

In [ ]:
import psycopg2 as pg2
import pandas as pd
from datetime import datetime

def filterDateConstraints(df):
    curDate = pd.Timestamp(datetime.now().date())
    one_month = pd.Timedelta(days=31)
    one_year = pd.Timedelta(days=365)

    df['start_date'] = pd.to_datetime(df['start_date'])
    df['end_date'] = pd.to_datetime(df['end_date'])

    filtered = df[
        (df['start_date'] > curDate) &
        (df['end_date'] >= df['start_date'] + one_month) &
        (df['end_date'] <= df['start_date'] + one_year)
    ]
    return filtered

def filteTenantAgeConstraint(df):
    filtered = df[
         (df['age'] >= 18)
    ]
    return filtered

def bulkInsert(sheetName, dataFilepath, reset=False):
    df = pd.read_excel(dataFilepath, sheet_name=sheetName, engine='openpyxl')
    # if sheetName.lower() == 'listings' or sheetName.lower() == 'renter_profiles':
    #     df = filterDateConstraints(df)
    # if sheetName.lower() == 'renter_profiles':
    #     df = filteTenantAgeConstraint(df)

    cols = list(df.columns)
    query = f"""
        INSERT INTO {sheetName} ({", ".join(cols)})
        VALUES ({", ".join(["%s"] * len(cols))})
        ON CONFLICT DO NOTHING;
    """
    
    insertValues = list(df.itertuples(index=False, name=None))
    print(query)

    with pg2.connect(DATABASE_URL) as conn:
        with conn.cursor() as cur:
            if reset:
                cur.execute(f"TRUNCATE TABLE {sheetName} RESTART IDENTITY CASCADE")
            for row in insertValues:
                try:
                    cur.execute(query, row)
                except Exception as e:
                    print(f"error: {e}\nrow: {row}")
        conn.commit()

In [42]:
FILEPATH = "./data/sample.xlsx"

excel = pd.ExcelFile(FILEPATH)
sheetNames = excel.sheet_names

for sheet in sheetNames:
    bulkInsert(sheet, FILEPATH, True)

        INSERT INTO Users (first_name, last_name, password, email, profile_photo)
        VALUES (%s, %s, %s, %s, %s)
        ON CONFLICT DO NOTHING;


        INSERT INTO Locations (places_api_id, address_string, longitude, latitude)
        VALUES (%s, %s, %s, %s)
        ON CONFLICT DO NOTHING;


        INSERT INTO Building_Types (type)
        VALUES (%s)
        ON CONFLICT DO NOTHING;


        INSERT INTO Amenities (name)
        VALUES (%s)
        ON CONFLICT DO NOTHING;


        INSERT INTO Listings (user_id, is_active, locations_id, start_date, end_date, target_gender, asking_price, building_type_id, num_bedrooms, num_bathrooms, pet_friendly, utilities_incl, description, Unnamed: 13, Unnamed: 14)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        ON CONFLICT DO NOTHING;

SyntaxError: syntax error at or near ":"
LINE 2: ...pet_friendly, utilities_incl, description, Unnamed: 13, Unna...
                                                             ^